/* define color variables */
:root {
  --wine: #581825;
  --dark-wine: #38101d;
  --light-wine: #8c2f3f;
  --dark-gray: #333;
  --text: white;
}

html {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2e2e2e;
  background-image: linear-gradient(to bottom right, #8c2f3f, #581825, #38101d);
  color: var(--text);
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  max-width: 60vw;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
}

a {
  color: var(--light-wine);
}

a:hover {
  color: var(--wine);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  background-color: var(--dark-gray);
  color: var(--text);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: var(--light-wine);
  color: var(--text);
}

.password-input-container {
  position: relative;
}

.password-input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.show-password-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button[type="submit"] {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  background-color: var(--dark-gray);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 2px var(--dark-wine);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-gray);
  color: white;
  text-align: center;
  margin-top: 20px;
}